.elementor-kit-7103 {
    --e-global-color-primary:#BE1E2D;--e-global-color-secondary:#000000;--e-global-color-text:#FFFFFF;--e-global-color-accent:#808285;--e-global-color-149c4bea:#6EC1E4;--e-global-color-2f708ae4:#54595F;--e-global-color-6274e0cc:#7A7A7A;--e-global-color-22d4d67:#61CE70;--e-global-color-50d6373e:#4054B2;--e-global-color-9647cb5:#23A455;--e-global-color-16f1d89b:#000;--e-global-color-2c3a37ed:#FFF;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;}

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

h1.entry-title {
    display: var(--page-title-display);
}

.elementor-lightbox {
    background-color: #FFFFFF;
}

@media(max-width: 1024px) {
    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width:1025px;
    }
}

@media(max-width: 767px) {
    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width:768px;
    }
}